
@font-face {
  font-family: CreteClean;
  src: url('http://NathanGao.github.io/fonts/CreteRound-Regular.otf') format('opentype');
}

@font-face {
  font-family: CallunaSansClean;
  src: url('http://NathanGao.github.io/fonts/CallunaSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: LatoBoldClean;
  src: url('http://NathanGao.github.io/fonts/Lato-Bold.ttf') format('truetype');
}


@font-face {
  font-family: LatoRegularClean;
  src: url('http://NathanGao.github.io/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: AkzidenzGrotesk;
  src: url('http://NathanGao.github.io/fonts/AkzidenzGrotesk-Regular.otf') format('opentype');
}
@font-face {
  font-family: AkzidenzGroteskMedium;
  src: url('http://NathanGao.github.io/fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
	padding-left: 20%;
  height: 100%;
  width: 100%;

	font-family: AkzidenzGrotesk, sans-serif;
	font-size: 20px;
	line-height: 1.42857143;
	background-color: #FFF;
}

p {
  margin: 10px auto;
}

.page-container {
	background-color: #ffffff;
}


/*Header bar classes: name and brief description*/
#header_nav {
    width:51%;
    height: 125px;
    min-height: 55px;
    max-height:125px;
    background-color: #ffffff;
    position:fixed;
    top:0;
    left:37.05%;
    box-shadow: 0px 15px rgba(0, 0, 0, 1);
    z-index:50;
}

.headertitlebox{
  margin-left: -16px
}

.headertextbox {
  margin-left: -14px

}

.headertitle {
  position:static;
  font-family: AkzidenzGroteskMedium, sans-serif;
    width:100%;
/*  font-size: 24px;*/
  font-size: 3em;
}

.headertext {
  position:absolute;
  width:100%;
  top: 60%;
  font-family: AkzidenzGrotesk, sans-serif;
/*  font-size: 12px;
*/  font-size: 1em;
  line-height: 1.45;
}


/*intro picture blocks: for all sections*/
.headerpiccrop {
	height: 350px;
	width: 98.5%;
	overflow: hidden;
  margin: 0 auto;
}

.headerpiccrop img {
	height: 600px;
	width: 900px;
	margin-top: -25px;
}


.selected {
    color:#ccc;
}

/*Body layout classes: all other body related layouts*/
.bodytitle {
  display:block;
  text-align:center;
	margin: 10px auto;
	font-family: AkzidenzGroteskMedium, sans-serif;
	font-size: 1.3em;
}

.bodysubtitle {
  display:block;
  text-align:center;
  width: 100%;
  margin: 20px auto;
  font-family: AkzidenzGroteskMedium, sans-serif;
  font-size: 1.1em;
}


.bodytext{
	font-family: AkzidenzGrotesk, sans-serif;
	font-size: 1em;
}


.bodyshell{
	position:relative;
    left:20%;
	padding-left: 20px;
	padding-top: 40px;
}


.divider {
	height: 50px;
  width:98%;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		padding-bottom: 30px;
}


.thumb {
	width: 100%;
	height: 100%;
box-shadow: 5px 5px #2c3e50; /*428bca*/

border: 1px solid rgba(0, 0, 0, 1);

    -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
   -o-box-sizing: border-box;
    box-sizing:        border-box;

}

.thumbcaptionbox {
height:50px;
}

.thumbcaptiontextbox{
position: relative;
  top: 50%;
  transform: translateY(-50%)
}


.thumbcaption {
  position: relative;
  font-size: 15px;
  text-align: center;

    padding: auto 0;
}

.leftpic {

}

.midpic{
  margin-top: 20px;
}

.rightpic {
  margin-top: 40px;
}

.picture {

}

.mask {
	position:absolute;
    top: 70%;
    width:0%;
    height:20%;
    background-color:rgba(0, 0, 0, 0.7);
    pointer-events:none;

    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;

}

.mask span{
	position:absolute;
    top:10%;
    width:100%;
	color:rgba(255, 255, 255, 0.0);
	font-size: .75em;

/*	  -webkit-transition-delay: 2s;
    transition-delay: 2s;*/
/*  -webkit-transition: color .5s;
    transition: color .5s;*/
}

.picture:hover .mask{
  -webkit-transition: width .5s;
  -moz-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s;
	width: 80%;
}

.picture:hover .mask span{
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;

  -webkit-transition: color 2.5s;
  -moz-transition: color 2.5s;
  -o-transition: color 2.5s;
  transition: color 2.5s;
    padding-left: 10%;
	color:rgba(255, 255, 255, 1.0);
}

.project {

}


/*Body animation and effects*/
.come-in {
  -webkit-transform: translateY(500px);
  -moz-transform: translateY(500px);
  -o-transform: translateY(500px);
  -webkit-animation: come-in 0.8s ease forwards;
  animation: come-in 0.8s ease forwards;
/*  font-size: 99px;*/
}

.already-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  animation: none;
/*  font-family: impact;*/
}

@-webkit-keyframes come-in {
  to {
   -webkit-transform: translateY(0);
   -moz-transform: translateY(0);
 	 -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes come-in {
  to {
   -webkit-transform: translateY(0);
   -moz-transform: translateY(0);
 	 -o-transform: translateY(0);
    transform: translateY(0);
  }
}


@media (max-width: 767px) {

  #header_nav {
    width:100%;
    height: 85px;
    background-color: #ffffff;
    position:fixed;
    top:0;
    left:0%;
    box-shadow: 0px 15px rgba(0, 0, 0, 1);

  }

  .bodyshell{
    position:absolute;
      left: 1%;
    padding-left: 0px;
    padding-top: 40px;
  }
  .headertext{
    display:none;
  }

  .col-xs-8 {
    width: 100%;
      margin: 0 auto;

  }
  .col-sm-8 {
    width: 100%;
      margin: 0 auto;

  }

  .col-md-4 {
    width: 74%;
    margin: 0 auto;
  }

}

@media (max-device-width: 407px) {
  
body {
  font-size: 40px;
}

.bodytext{
/*  font-family: AkzidenzGrotesk, sans-serif;
  font-size: 45px;*/
}

  #header_nav {
    width:100%;
    height: 85px;
    background-color: #ffffff;
    position:fixed;
    top:0;
    left:0%;
    box-shadow: 0px 15px rgba(0, 0, 0, 1);

  }
  .bodytitle {
    display:block;
    text-align:center;
    margin: 10px auto;
    font-family: AkzidenzGroteskMedium, sans-serif;
    font-size: 60px;
  }

  .bodysubtitle {
    display:block;
    text-align:center;
    width: 100%;
    margin: 20px auto;
    font-family: AkzidenzGroteskMedium, sans-serif;
    font-size: 55px;
  }
  .bodyshell{
    position:absolute;
      left: 1%;
    padding-left: 0px;
    padding-top: 40px;
  }
  .headertext{
    display:none;
  }

  .col-xs-8 {
    width: 100%;
      margin: 0 auto;

  }
  .col-sm-8 {
    width: 100%;
      margin: 0 auto;

  }

  .col-md-4 {
    width: 74%;
    margin: 0 auto;
  }

}

