
@font-face {
  font-family: CreteClean;
  src: url('../fonts/CreteRound-Regular.otf') format('opentype');
}

@font-face {
  font-family: CallunaSansClean;
  src: url('../fonts/CallunaSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: LatoBlack;
  src: url('../fonts/Lato-Black.ttf') format('truetype');
}


@font-face {
  font-family: LatoRegularClean;
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: AkzidenzGrotesk;
  src: url('../fonts/AkzidenzGrotesk-Regular.otf') format('opentype');
}

@font-face {
  font-family: AkzidenzGroteskMedium;
  src: url('../fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
}

@font-face {
  font-family: Quicksand;
  src: url('../fonts/Quicksand-Regular.otf') format('opentype');
}

@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-Heavy.otf') format('opentype');
}

@font-face {
  font-family: Tisa;
  src: url('../fonts/TisaOT.otf') format('opentype');
}


@font-face {
  font-family: Adelle;
  src: url('../fonts/AdelleSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: AdelleSemi;
  src: url('../fonts/AdelleSans-SemiBold.ttf') format('truetype');
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 20%;
  height: 100%;
  width: 100%;

	font-family: Tisa, sans-serif;
	font-size: 20px;
  color: #444;
	line-height: 1.42857143;
	background-image: #ffffff;
 box-shadow: inset 0 0 0px hsla(0,0%,0%,.3);
}

p {
  margin: 20px auto;
}

.page-container {
	background-color: #ffffff;
}

li {
  cursor: pointer;
}



/*Header bar classes: name and brief description*/
#header_nav {
    width: 55%;
    height: 125px;
    /*max-width: 950px;*/
    min-height: 55px;
    max-height:125px;
    background-color: inherit;
    position: fixed;
    top:0;
/*    box-shadow: 0px 5px rgba(0, 0, 0, 1);
*/    z-index:50;
    background-color: rgba(255, 255, 255, .9);
    padding-left: 1.5%;
    margin: 0 0 0 3% !important;

}



.headertitle {
  font-family: Adelle, sans-serif;
    width:100%;
/*  font-size: 24px;*/
  font-size: 3em;
  top: 0px;
    margin-bottom:0px;

}

.headertext {
  position:relative;
  width:100%;
  font-size: 1em;
  line-height: 1.45;
  left:2px;
  margin-top:0px;
  font-family: AdelleSemi, sans-serif;
/*
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;*/
}


/*intro picture blocks: for all sections*/
/*.headerpiccrop {
	height: 350px;
	width: 100.0%;
	overflow: hidden;
  padding: 0 auto;
}*/

.titlepic {
  position: relative;
  float:left;
	max-width: 10vw;
  max-height: 10vw;
  margin-top: -13%;
  margin-left: -20%;
  z-index: 50;
}


.selected {
    color:#ccc;
}

/*Body layout classes: all other body related layouts*/
.bodytitle {
  display:block;
  text-align:center;
	margin: 10px auto;
	font-size: 1.3em;
  font-family: Adelle, sans-serif;
}

.bodysubtitle {
  display:block;
  text-align:center;
  width: 100%;
  margin: 10px auto;
  font-size: 1.1em;
    font-family: AdelleSemi, sans-serif;
    background-color: transparent;

}


.bodytext{
	font-size: 1em;
  margin: 0 8%;
}


.bodyshell{
	position:relative;
    left: 8%;
	padding:25px;
  margin-left:25px;
	top:0px;
      background-color: inherit;

}


#errorlists,
#researchintel {
  
}



.divider {
	height: 50px;
  width:98%;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top:60px;
}

.row {

}

.thumb {
	width: 100%;
	height: 100%;
max-height: 240px;

box-shadow: 5px 5px #2c3e50; /*428bca*/

border: 1px solid rgba(0, 0, 0, 1);

    -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
   -o-box-sizing: border-box;
    box-sizing:        border-box;

}

.thumbcaptionbox {
height:30px;
}

.thumbcaptiontextbox{
position: relative;
  top: 60%;
  transform: translateY(-50%);
}


.thumbcaption {
  position: relative;
  font-size: .8em;
  text-align: center;
  font-family: AdelleSemi;
    padding: auto 0;
}

.picblock {
  width:100%;
  margin: 40px 0;
  padding: 20px 0;
  background-color: #ecf0f1;
}

.leftpic {
}

.midpic{
  margin-top: 20px;
}

.rightpic {
  margin-top: 40px;
}

.picture {
        margin-top: 10px;

}

img.thumb {
-webkit-filter: grayscale(50%);
-moz-filter: grayscale(50%);
-o-filter: grayscale(50%);
filter: grayscale(50%);
}


.mask {
	position:absolute;
    top: 60%;
    width:0%;
    height:32%;
    background-color:rgba(0, 0, 0, 0.7);
    pointer-events:none;

    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;

}

.mask span{
	position:absolute;
    top:10%;
    width:100%;
	color:rgba(255, 255, 255, 0.0);
	font-size: 0em;

/*	  -webkit-transition-delay: 2s;
    transition-delay: 2s;*/
/*  -webkit-transition: color .5s;
    transition: color .5s;*/
}

.picture:hover .mask{
  -webkit-transition: width .5s;
  -moz-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s;
	width: 85%;
}

.picture:hover .mask span{
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;

  -webkit-transition: color 2.5s;
  -moz-transition: color 2.5s;
  -o-transition: color 2.5s;
  transition: color 2.5s;
      font-size: .7em;

    padding-left: 5%;
    padding-right: 5%;
	color:rgba(255, 255, 255, 1.0);
}

.project {
  padding:10px;
    -moz-transition: all .86s ease-in-out;
    -o-transition: all .86s ease-in-out;
    -webkit-transition: all .86s ease-in-out;
    transition: all .86s ease-in-out;
}

/*Body animation and effects*/
/*.come-in {
  -webkit-transform: translateY(500px);
  -moz-transform: translateY(500px);
  -o-transform: translateY(500px);
  -webkit-animation: come-in 0.8s ease forwards;
  animation: come-in 0.8s ease forwards;
}*/

.already-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  animation: none;
}

.gradient {
    opacity: 0.85;
    -moz-filter: blur(1px);
    -moz-transform: scale(1.0, 1.0);
    -o-filter: blur(1px);
    -o-transform: scale(1.0, 1.0);
    -webkit-filter: blur(1px);
    -webkit-transform: scale(1.0, 1.0);
    -moz-transition: all .86s ease-in-out;
    -o-transition: all .86s ease-in-out;
    -webkit-transition: all .86s ease-in-out;
    transition: all .86s ease-in-out;
}

#intro{
      -moz-transition: all .86s ease-in-out;
    -o-transition: all .86s ease-in-out;
    -webkit-transition: all .86s ease-in-out;
    transition: all .86s ease-in-out;
}

@-webkit-keyframes come-in {
  to {
   -webkit-transform: translateY(0);
   -moz-transform: translateY(0);
 	 -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes come-in {
  to {
   -webkit-transform: translateY(0);
   -moz-transform: translateY(0);
 	 -o-transform: translateY(0);
    transform: translateY(0);
  }
}



@media (max-device-width: 1400px), (max-width: 1400px) {

body {
  font-size: 16px;
}

/*.headertext {
    font-size:.8em;
  }

}*/

@media (max-device-width: 1000px), (max-width: 1000px) {

body {
  font-size: 14px;
}

.titlepic {
display:none;
}

li a,
li p {
  font-size: .7em;
}

  .col-xs-9 {
    width: 85%;
      margin: 0 auto;

  }
  .col-sm-9 {
    width: 85%;
      margin: 0 auto;

  }


@media (max-device-width: 767px), (max-width: 767px) {

  body {
  font-size: 14px;
}

  #header_nav {
    width:100%;
    padding-left: 5%;
  }

/*  .headertext {
    display:none;
  }*/
  .bodyshell{
    position:absolute;
    margin: 0px;
    padding:0;
  }

  .col-xs-8 {
    width: 98%;
      margin: 0 auto;

  }
  .col-sm-8 {
    width: 98%;
      margin: 0 auto;

  }

  .col-xs-9 {
    width: 100%;
    left:0;
      margin: 0 auto;

  }
  .col-sm-9 {
    width: 100%;
    left:0;
      margin: 0 auto;

  }


  .col-md-4 {
    width: 74%;
    margin: 0 auto;
  }

}

@media (max-device-width: 407px), (max-width: 407px) {

body {
  font-size: 12px;
}

/*.headertitle {
  font-size: 2em;

}*/

.bodytext{
/*  font-family: AkzidenzGrotesk, sans-serif;
  font-size: 45px;*/
  /*margin-right: 50px;*/
}

  #header_nav {
    width:110%;
  }

  .bodytitle {
    display:block;
    text-align:center;
    /*margin: 20px 50px;*/
    font-size: 1.4em;
  }

  .bodysubtitle {
    display:block;
    text-align:center;
    width: 100%;
    /*margin: 20px auto;*/
    font-size: 1.1em;
  }

  .bodytext{
    font-size: 1em;
  }

  .headertext{
    display:none;
  }

  .mask span{
    position:absolute;
      top:10%;
      width:100%;
    color:rgba(255, 255, 255, 0.0);
    font-size: 1em;
  }


  .thumbcaption {
    position: relative;
    font-size: 1em;
    text-align: center;
  }

  img.thumb {
    width: 100%;
    height: 50%;
  }

  .col-xs-8 {
    width: 96%;
      margin: 0 auto;

  }
  .col-sm-8 {
    width: 96%;
      margin: 0 auto;

  }

  .col-md-4 {
    width: 74%;
    margin: 0 auto;
  }

}
