body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1031px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:737px;
  background:-webkit-linear-gradient(270deg, rgba(1, 78, 120, 1) 0%, rgba(1, 78, 120, 1) 0%, rgba(32, 101, 142, 1) 56%, rgba(77, 134, 154, 1) 100%, rgba(77, 134, 154, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(1, 78, 120, 1) 0%, rgba(1, 78, 120, 1) 0%, rgba(32, 101, 142, 1) 56%, rgba(77, 134, 154, 1) 100%, rgba(77, 134, 154, 1) 100%);
  background:linear-gradient(180deg, rgba(1, 78, 120, 1) 0%, rgba(1, 78, 120, 1) 0%, rgba(32, 101, 142, 1) 56%, rgba(77, 134, 154, 1) 100%, rgba(77, 134, 154, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u512 {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:737px;
}
#u513 {
  position:absolute;
  left:2px;
  top:15px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:300px;
}
#u514 {
  position:absolute;
  left:0px;
  top:41px;
  width:1032px;
  height:299px;
}
#u515 {
  position:absolute;
  left:2px;
  top:15px;
  width:1028px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u516 {
  position:absolute;
  left:560px;
  top:1002px;
  width:1032px;
  height:105px;
}
#u517 {
  position:absolute;
  left:2px;
  top:15px;
  width:1028px;
  visibility:hidden;
  word-wrap:break-word;
}
#u518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:41px;
}
#u518 {
  position:absolute;
  left:541px;
  top:900px;
  width:730px;
  height:41px;
  font-family:'TisaPro Italic', 'TisaPro';
  font-weight:400;
  font-style:italic;
  font-size:30px;
  color:#6E6E6E;
}
#u519 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  word-wrap:break-word;
}
#u520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:103px;
}
#u520 {
  position:absolute;
  left:151px;
  top:87px;
  width:730px;
  height:103px;
  font-family:'Akzidenz-Grotesk BQ Extra Conde Bold Italic', 'Akzidenz-Grotesk BQ Extra Conde';
  font-weight:700;
  font-style:italic;
  font-size:72px;
  color:#D7D7D7;
}
#u521 {
  position:absolute;
  left:0px;
  top:10px;
  width:730px;
  word-wrap:break-word;
  text-shadow:0px 0px 0px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:0px 0px 0px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:0px 0px 0px rgba(0, 0, 0, 0.647058823529412);
}
#u522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:51px;
}
#u522 {
  position:absolute;
  left:151px;
  top:189px;
  width:730px;
  height:51px;
  font-family:'Open Sans Italic', 'Open Sans';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#D7D7D7;
}
#u523 {
  position:absolute;
  left:0px;
  top:10px;
  width:730px;
  word-wrap:break-word;
}
#u524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:138px;
  background:inherit;
  background-color:rgba(68, 32, 34, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u524 {
  position:absolute;
  left:-12px;
  top:460px;
  width:1022px;
  height:138px;
}
#u525 {
  position:absolute;
  left:2px;
  top:15px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 153, 0.709803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u526 {
  position:absolute;
  left:0px;
  top:340px;
  width:1043px;
  height:10px;
}
#u527 {
  position:absolute;
  left:2px;
  top:15px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:333px;
  background:inherit;
  background-color:rgba(68, 32, 34, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u528 {
  position:absolute;
  left:-7px;
  top:1067px;
  width:1081px;
  height:333px;
  -webkit-transform:rotate(353deg);
  -moz-transform:rotate(353deg);
  -ms-transform:rotate(353deg);
  transform:rotate(353deg);
}
#u529 {
  position:absolute;
  left:2px;
  top:15px;
  width:1077px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:737px;
  background:-webkit-linear-gradient(270deg, rgba(1, 78, 120, 1) 0%, rgba(1, 78, 120, 1) 0%, rgba(32, 101, 142, 1) 56%, rgba(77, 134, 154, 1) 100%, rgba(77, 134, 154, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(1, 78, 120, 1) 0%, rgba(1, 78, 120, 1) 0%, rgba(32, 101, 142, 1) 56%, rgba(77, 134, 154, 1) 100%, rgba(77, 134, 154, 1) 100%);
  background:linear-gradient(180deg, rgba(1, 78, 120, 1) 0%, rgba(1, 78, 120, 1) 0%, rgba(32, 101, 142, 1) 56%, rgba(77, 134, 154, 1) 100%, rgba(77, 134, 154, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u531 {
  position:absolute;
  left:1064px;
  top:0px;
  width:200px;
  height:737px;
}
#u532 {
  position:absolute;
  left:2px;
  top:15px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:138px;
  background:inherit;
  background-color:rgba(68, 32, 34, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u533 {
  position:absolute;
  left:1062px;
  top:460px;
  width:196px;
  height:138px;
}
#u534 {
  position:absolute;
  left:2px;
  top:15px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 153, 0.709803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u535 {
  position:absolute;
  left:1064px;
  top:340px;
  width:200px;
  height:10px;
}
#u536 {
  position:absolute;
  left:2px;
  top:15px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
